* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav_boss {
    padding-bottom: 30%;
    background-color: white;
    height: 5px;
    width: 50%;
    margin-left: 25%;

}

.div1 {
    font-family: 'Roboto', sans-serif;

}

.login1 {
    padding-left: 2px;
    width: 70%;
    padding-right: 20%;
}

.login2 {
    padding-left: 20%;
    width: 30%;
    ;
}

.password {
    margin-left: 25%;
    font-family: 'Lato', sans-serif;
    width: 60%;
    padding-top: 1%;
    padding-top: 18px;
}

.Email {
    margin-left: 25%;
    font-family: 'Lato', sans-serif;
    width: 50%;
    padding-top: 1%;
    margin-top: 2%;
    margin-bottom: 18px;
    padding: 14px 10px;
}

.div2 {
    margin-left: 50%;

}

h3 {
    text-align: center;
}

.input1 {

    margin-left: 25%;

}

.input3 {


    text-decoration: none;
    margin-left: 19%;
}



.div6 {
    background-color: #5cb85c;
   color: white;
    margin-right: 25%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    border-radius: 8px;
    margin-bottom: 1%;
    margin-top: 2%;
    padding: 14px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 13px;
}

.div7 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;

}

.div8 {
    font-family: 'Roboto', sans-serif;
    background-color: #e6e6ee;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    border-radius: 8px;
    margin-bottom: 1%;
    margin-top: 2%;
    padding: 14px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 13px;

}

.a1 {
    margin-left: 40%;


    text-decoration: none;

    margin-top: 1%;

}

h3 {
    padding-top: 50px;
}

.input3:hover {
    text-decoration: underline;
    color: #23527c;
}

.div6:hover {
    background-color: #449d44;
}

.div8:hover {
    background-color: gray;
}

.Email {

    padding-bottom: 5px;
    padding-left: 1%
}

.password {          
    margin-bottom: 1%;
    width: 50%;
    padding-bottom: 5px;
    padding-left: 1%
}

.a1:hover {
    text-decoration: underline;
    color: #23527c;
}



.container {
    background-image: url("https://i.pinimg.com/originals/d3/92/30/d39230bc62e367ac19a663b96214f684.jpg");
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 10%;
}